<ion-view>
  <ion-pane>
    <ion-header-bar align-title="left" class="bar-positive">
      <img class="logo" src="img/logo2.png">
      <div class ="searchBtn">
<!-- <button class="button-clear"><i class="icon ion-search"></i></button> -->
      </div>
    </ion-header-bar>
    
    <ion-content class="scroll">
      <p class="pCuisine"><strong><center>Which cuisine(s) would you like?</center></strong> </p>
      <div class="content">
        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.malay">Malay</ion-checkbox>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.western">Western</ion-checkbox>
            </ion-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.arabic">Arabic</ion-checkbox>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.chinese">Chinese</ion-checkbox>
            </ion-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.indian">Indian</ion-checkbox>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-checkbox ng-model="filter.italian">Italian</ion-checkbox>
            </ion-list>
          </div>
        </div>

        <p class="warn"> *You are required to select at least one cuisine </p>
        <p class="occa"><strong><center>What occasion you wish for?</center></strong> </p>

        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'breakfast'">Breakfast</ion-radio>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'lunch'">Lunch</ion-radio>
            </ion-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'dinner'">Dinner</ion-radio>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'highTea'">High Tea</ion-radio>
            </ion-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'supper'">Supper</ion-radio>
            </ion-list>
          </div>
          <div class="col col-50">
            <ion-list>
              <ion-radio ng-model="occassion" ng-value="'party'">Party</ion-radio>
            </ion-list>
          </div>
        </div>

        <p class="warn"> *Select one occasion only </p>
        <div class = "row">
          <div class=" col col-50">
            <a class="button button-full button-positive button icon-left ion-chevron-left button-clear" href="#/">Back</a>
          </div>
          <div class=" col col-50">
            <a class="button button-full button-positive button icon-right ion-chevron-right  button-clear" href="#/ingredient">Proceed</a>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="tabs">
      <a class="tab-item active" href="#/">
        <i class="icon ion-home"></i>Home
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>Favorites
      </a>
      <a class="tab-item" href="#/setting">
        <i class="icon ion-gear-a"></i>Settings
      </a>
    </div>
  </ion-footer-bar>
</ion-view>