<ion-view>
  <ion-pane>
     <ion-header-bar align-title="center" class="bar bar-header "> 
     <!-- <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" style="color:#ffffff;"  ng-controller="MainCtrl"></a>
     <center><img class="headLogo" src="img/logotulisan.png"></center> -->
     <center><img class="header" src="img/aboutHeader.png"></center>
     
    </ion-header-bar>

      <ion-content class="scroll ">

        
        <center><img class= 'aboutUs' src="img/logo5.png"></center>
        <div class="aboutUsContent">
        <h5>masakApe? is a Recipe Recommendation System used to ease people in finding recipes based on users' preferences. It will help users in deciding and choosing menus to cook. Try it now to get an awesome recipes recommended by us!</h5>
        <h5>masakApe? was built in 2016 and developed by Firdaus Ma'arof and Akmar Hussen.</h5>
        <h5>This is a Final Year Project for Department of Computer Science, International Islamic University Malaysia. </h5>
        <center><h6>Version 1.0</h6>
        <h6>All Right Reserved</h6></center>
        </div>
      </ion-content>

      <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;" ui-sref="favRecipe" ui-sref-opts="{reload: true, inherit: false}"><i class="icon ion-heart"></i>Favorites</a>
      </div>
  </ion-pane>
</ion-view>