<ion-view>
  <ion-pane>
     <ion-header-bar align-title="center" class="bar bar-header "> 
     <!-- <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" style="color:#ffffff;"  ng-controller="MainCtrl"></a>
     <center><img class="headLogo" src="img/logotulisan.png"></center> -->
     <center><img class="header" src="img/aboutHeader.png"></center>
     
    </ion-header-bar>

      <ion-content class="scroll ">

        <div >
        <center><img class= 'aboutUs' src="img/aboutContent.png"></center></div>

      </ion-content>

      <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;" ui-sref="favRecipe" ui-sref-opts="{reload: true, inherit: false}"><i class="icon ion-heart"></i>Favorites</a>
      </div>
  </ion-pane>
</ion-view>