<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header bar-royal">
      <h1 class="title">Masak Ape?</h1>
    </ion-header-bar>
    <ion-content class="scroll">
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="recipe in recipes" type="item-text-wrap" href="#/recipe/{{recipe.id}}">
          <img ng-src="{{recipe.photo}}">
          <i class="icon ion-ios-arrow-right"></i>
          <h2>{{recipe.recipe}}
              <br> 
              <font size="2" color="gray" >Rating : {{recipe.rating}}</font>
          </h2>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-footer">
      <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" ng-controller="MainCtrl">Back</a>
<!--       <a class="button icon-right ion-chevron-right button-clear button-royal" href="#/occasion">Next</a>
 -->    </ion-footer-bar>
  </ion-pane>
</ion-view>