<ion-view>
  <ion-pane>
     <ion-header-bar align-title="center" class="bar bar-header "> 
     <!-- <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" style="color:#ffffff;"  ng-controller="MainCtrl"></a>
     <center><img class="headLogo" src="img/logotulisan.png"></center> -->
     <center><img class="header" src="img/bestRecipeHeader.png"></center>
     
    </ion-header-bar>

    <ion-content class="scroll recipeList">
      <div>
        <div class="top-recipe-option" align="center">
            <span>Top:</span>&nbsp;
            <select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>&nbsp;
            <a class="advanced" ng-click="openModal()">Advanced Filter</a>&nbsp;
<!--               <a class="button button-assertive" ng-click="getBestRecipe()"><i class="icon ion-search"></i></a> -->
        </div>
      </div>
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="recipe in recipes" type="item-text-wrap" href="#/recipe/{{recipe.id}}">
          <img ng-src="{{recipe.photo}}">
          <i class="icon ion-ios-arrow-right"></i>
          <h2>{{recipe.recipe}}
              <br> 
              <font size="2" color="gray" >Rating : {{recipe.rating}}</font>
          </h2>
        </ion-item>
      </ion-list>
    </ion-content>
    
    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;" ui-sref="favRecipe" ui-sref-opts="{reload: true, inherit: false}"><i class="icon ion-heart" style="color:#ffffff;"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <div class="adic-modal">
    <ion-modal-view class="adic-popup">
      <ion-header-bar align-title="center">
        <div class="bar bar-header bar-assertive">
          <h1 class="title modal-title">Advanced Filter</h1>
        </div>
      </ion-header-bar>
      <ion-content class="modal-header">
        <h4>Cuisine:</h4>
        <div ng-controller="CuisineController">
          <ion-checkbox class="checkbox-assertive checkbox-modal" value="{{ cuisine.cuisine }}" ng-repeat="cuisine in cuisines" ng-checked="userCuisine.indexOf(cuisine.cuisine)>-1" ng-click="toggleCuisine(cuisine.cuisine)">{{ cuisine.cuisine }}</ion-checkbox>
        </div>
        <h4>Occasion:</h4>
        <div ng-controller="OccasionController">
          <ion-checkbox class="checkbox-assertive checkbox-modal" value="{{ occasion.occasion }}" ng-repeat="occasion in occasions" ng-checked="useroccasion.indexOf(occasion.occasion)>-1" ng-click="toggleOccasion(occasion.occasion)">{{ occasion.occasion }}</ion-checkbox>
        </div>
        <center>
          <a class="button icon-center button-outline button-assertive"ng-click="closeModal()">Close</a>
        </center>
      </ion-content>
    </ion-modal-view>
  </div>
</script>