<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header bar-assertive"> 
        <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" style="color:#ffffff;"  ng-controller="MainCtrl"></a>
        <center><img class="headLogo" src="img/logotulisan.png"></center>
    </ion-header-bar>

    <ion-content class="home">
    <center><img class="header" src="img/header.png"></center>
      <!-- <h4 class="pCuisine"><strong><center>Which cuisine(s) would you like?</center></strong></h4> -->
      <div class="content" ng-controller="CuisineController">
        <div class="col">
          <ion-list>
            <ion-checkbox class="checkbox-assertive" value="{{ cuisine.cuisine }}" ng-repeat="cuisine in cuisines" ng-checked="userCuisine.indexOf(cuisine.cuisine)>-1" ng-click="toggleSelection(cuisine.cuisine)">{{ cuisine.cuisine }}</ion-checkbox>
          </ion-list>

          <p class="warn"> *You are required to select at least one cuisine </p>

          <br><center> <a class="btnNext" href="#/occasion">Next</a></center>
        </div>
      </div>
    </ion-content>

    <ion-footer-bar>
      <div class="tabs tabs-icon-top tabs-assertive" >
        <a class="tab-item" href="#/menu" style="color:#ffffff;">
        <i class="icon ion-home" ></i>Home</a>

        <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
        <i class="icon ion-thumbsup"></i>Top Recipes</a>

        <a class="tab-item" style="color:#ffffff;"><i class="icon ion-heart"></i>Favorites</a>
      </div>
    </ion-footer-bar>
  </ion-pane>
</ion-view>