<ion-view>
  <ion-pane>
     <ion-header-bar align-title="center" class="bar bar-header "> 
     <!-- <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" style="color:#ffffff;"  ng-controller="MainCtrl"></a>
     <center><img class="headLogo" src="img/logotulisan.png"></center> -->
     <center><img class="header" src="img/bestRecipeHeader.png"></center>
     
    </ion-header-bar>

    <ion-content class="scroll recipeList">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="recipe in favRecipes" type="item-text-wrap" href="#/recipe/{{recipe.id}}">
          <img ng-src="{{recipe.photo}}">
          <i class="icon ion-ios-arrow-right"></i>
          <h2>{{recipe.recipe}}
              <br> 
              <font size="2" color="gray" >Rating : {{recipe.rating}}</font>
          </h2>
        </ion-item>
      </ion-list>
      <center>
        <h3 ng-if="favRecipeCacheExist==false">No Favourite Recipe</h3>
      </center>
    </ion-content>
    
    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;" ui-sref="favRecipe" ui-sref-opts="{reload: true, inherit: false}"><i class="icon ion-heart" style="color:#ffffff;"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>