<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header">
    <center><img class="header" src="img/foundRecipeHeader.png"></center>
    </ion-header-bar>
    
    <ion-content class="scroll recipeList">
    <div class="searchIngBtn">
      <center>
        <a class="button button-outline button-assertive" ng-click="findRecipe('exact')">Exact Ingredient</a>
        <a class="button button-outline button-assertive" ng-click="findRecipe('not')">Partial Ingredient</a>
      </center>
    </div>
      <ion-list>
        <ion-item class="item-avatar item-icon-right" ng-repeat="recipe in foundRecipe" type="item-text-wrap" href="#/recipe/{{recipe.id}}">
          <img ng-src="{{recipe.photo}}">
          <i class="icon ion-ios-arrow-right"></i>
          <h2>{{recipe.recipe}}
              <br> 
              <font size="2" color="gray" >Rating : {{recipe.rating}}</font>
          </h2>
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;"><i class="icon ion-heart"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>