<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header bar-royal">
      <h1 class="title">Masak Ape?</h1>
    </ion-header-bar>
    <ion-content class="home">
      <div class="text-center">
        <img class="mainLogo" src="img/logo3.png">
      </div>
      <div class="col">
        <a class="button button-block button-royal" href="#/cuisine">English</a>
        <a class="button button-block button-royal" href="#/cuisine">Bahasa Melayu</a>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>