<ion-view>
  <ion-pane>  
    <ion-header-bar align-title="center" class="bar bar-header"> 
      <center><img class="header" src="img/ingredientHeader.png"></center>
    </ion-header-bar>

    <ion-content class="scroll">
       <!-- <div class="card ingredient-card"> -->
        <multiple-autocomplete ng-model="ingredient.name"
          api-url="http://api.thebucketdev.com/masakape/ingredient/getAll.php"
          suggestions-arr="">
        </multiple-autocomplete>
      
    </ion-content>

    <div class="bar bar-footer bar-assertive">
      <a class="btnFooter1 allignLeft" ng-click="myGoBack()" ng-controller="MainCtrl"><i class="icon ion-arrow-left-a"></i> </a>
      </a>
      <a class="btnFooter2 allignRight" href="#/foundRecipe" ><i class="icon ion-arrow-right-a"></i> </a>
      </a>
    </div>

    </ion-pane>
</ion-view>