<ion-view>
  <ion-pane>  
    <ion-header-bar align-title="center" class="bar bar-header"> 
      <center><img class="header" src="img/ingredientHeader.png"></center>
    </ion-header-bar>

    <ion-content class="scroll">
      <div class="card ingredient-card">
        <multiple-autocomplete ng-model="ingredient.name"
          api-url="http://api.thebucketdev.com/masakape/ingredient/getAll.php"
          suggestions-arr="">
        </multiple-autocomplete>
      </div>

      <div style="padding-left: 300px">
        <br><center><a class="btnNext" href="#/foundRecipe">Next</a></center>
      </div>
    </ion-content>
  
    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;"><i class="icon ion-heart"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>