<ion-view>
  <ion-pane>

    <ion-content class="home">
      <div class="text-center">
        <img class="mainLogo" src="img/mainLogo2.png" >
      </div>
       <div class="col">
       <center><img class ="hometext" src="img/homeText.png"></center><br>
       <!-- <br><center><h4 class="hometext"> Want a suggestion? - Recipe! </h4></center><br> -->
       <center> <a class="btnMenu1" href="#/bestRecipe"> Top Recipes </a> </center>
       <br><br>
        <center>  <a class="btnMenu2" href="#/cuisine">Find Recipes </a> </center>
        <br><br>
        <center>  <a class="btnMenu3" href="#/aboutUs">About Us </a> </center>
        <br><br>
        <center>  <a class="btnMenu4" href="#/contactUs">Contact Us </a> </center>
      </div> 
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-assertive">
      <div class="footer">
        <center><a class ="lang" href="#/menu">English&nbsp;&nbsp;</a><strong>｜</strong><a class ="lang" href="#/menu">&nbsp;&nbsp;Bahasa Melayu</a></center>
      </div>
    </ion-footer-bar>

  </ion-pane>
</ion-view>