<ion-view>
  <ion-pane>

   <!-- <ion-header-bar align-title="center" class="bar bar-header bar-assertive">  
        <img class="headerlogo" src="img/logotulisan.png"> 
   </ion-header-bar>  -->

    <ion-content class="home">
      <div class="text-center">
        <img class="logo" src="img/mainLogo.png" width="300"  style="PADDING-TOP: 60px">
      </div>
      
       <div class="col">
              <br><center><h4> What are you craving? </h4></center><br>
              <center> <a class="btnMenu1" href="#/bestRecipe" > Top Recipes </a> </center>
              <br><br>
              <center>  <a class="btnMenu1" href="#/cuisine" >Find Recipes </a> </center>
      </div> 
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-assertive">
        <div class="footer">
          <a class ="lang" href="#/menu"> &nbsp;English  &nbsp;&nbsp; </a> |  <a class ="lang" href="#/menu">&nbsp;&nbsp; Bahasa Melayu</a>
        </div>
    </ion-footer-bar>

  </ion-pane>
</ion-view>