<ion-view>
  <ion-pane>

    <ion-content class="home">
      <div class="text-center">
        <img class="mainLogo" src="img/mainLogo2.png" >
      </div>
       <div class="col">
       <center><img class ="hometext" src="img/homeText.png"></center><br>
       <!-- <br><center><h4 class="hometext"> Want a suggestion? - Recipe! </h4></center><br> -->
       <center> <a class="btnMenu1" href="#/bestRecipe"> Top Recipes </a> </center>
       <br><br>
        <center>  <a class="btnMenu2" href="#/cuisine">Find Recipes </a> </center>
        <br><br>
        <center>  <a class="btnMenu3" href="#/aboutUs">About Us </a> </center>
        <br><br>
        <center>  <a class="btnMenu4" href="#/contactUs">Contact Us </a> </center>
      </div> 
    </ion-content>

    <ion-footer-bar align-title="center" class="bar bar-footer bar-assertive">
      <div class="footer">
        <center><a class ="lang" href="#/menu">English&nbsp;&nbsp;</a><strong>｜</strong><a class ="lang" href="#/menu">&nbsp;&nbsp;Bahasa Melayu</a></center>
      </div>
    </ion-footer-bar>

  </ion-pane>
</ion-view>

<script id="username-modal.html" type="text/ng-template">
  <div class="adic-modal">
    <ion-modal-view class="username-modal">
      <ion-header-bar align-title="center">
        <div class="bar bar-header bar-assertive">
          <h1 class="title modal-title">Give your name</h1>
        </div>
      </ion-header-bar>
      <ion-content class="modal-header" scroll="false">
        <center>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="menu.username">
            </label>
          </div>
          <a class="button icon-center button-outline button-assertive" ng-click="saveUsername()">Save</a>
        </center>
      </ion-content>
    </ion-modal-view>
  </div>
</script>