<ion-view ng-controller="findRecipeController">
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header bar-royal">
      <h1 class="title">Masak Ape?</h1>
    </ion-header-bar>
    <ion-content class="scroll">
      <p class="pCuisine"><strong><center>What occasion you wish for?</center></strong> </p>
      <div class="content" ng-controller="OccasionController">
        <div class="col">
          <ion-list>
            <ion-radio name="oc" class="radio-royal" ng-repeat="occasion in occasions" ng-click="toggleOccasion(occasion.occasion)">{{ occasion.occasion }}</ion-radio>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-footer">
      <a class="button icon-left ion-chevron-left button-clear button-royal footer-btn" ng-click="myGoBack()" ng-controller="MainCtrl">Back</a>
      <a class="button icon-right ion-chevron-right button-clear button-royal" href="#/ingredient">Next</a>
    </ion-footer-bar>
  </ion-pane>
</ion-view>