<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header">
       <center><img class="header" src="img/recipeHeader.png"></center>
    </ion-header-bar>

    <ion-content class="scroll padding recipeList" ng-repeat="recipeDetail in recipeDetail">

    <div>
    <center><h3 class="recipeName" >{{recipeDetail.recipe}}</h3></center>
      <center><img ng-src="{{recipeDetail.photo}}" style="width: 100%; height: 200px"></center>
      </div>
      
      <p>
          <br>
          <img class="ingredientText" src="img/ingredient.png">
          <font size="2" color="black" >
            <span class="spanLeft" ng-repeat="recipeIngredient in recipeIngredients">
               <i class="ion-ios-checkmark"></i> {{recipeIngredient.ingredient}}<br>
            </span>
          </font>

          <br><img class="ingredientText" src="img/time.png"> <h4><center>{{recipeDetail.time}}</center></h4>
          <br>
          <img class="ingredientText" src="img/instruction.png">
          <font size="2" color="black" >
          <div  class="spanLeft" ng-bind-html='recipeDetail.instruction'></div></font>
          <br>
          <!-- <font size="2" color="gray" ><strong>RATING: </strong>{{recipeDetail.rating}}</font> -->
          <img class="ingredientText" src="img/rating.png">
          <center>
            <rating ng-model="recipeDetail.rating" max="rating.max" readonly="readOnly"></rating>
            <strong>{{recipeDetail.rating}}</strong>
          </center>
      <br><br>
      </p>

      <br><center><img class="ingredientText" src="img/comment.png"></center>

      <center>
        <a class="button icon-center button-outline button-assertive" ng-if="favRecipeExists" ng-click="addToFav({{recipeDetail.id}})">Add to Favorites</a>
        <a class="button icon-center button-outline button-assertive" ng-if="favRecipeExists==false" ng-click="removeFromFav({{recipeDetail.id}})">Remove from Favorites</a>
        <a class="button icon-center button-outline button-assertive" ng-click="giveRating(recipeDetail.id, recipeDetail.rating)">Give Rating</a>
        <br>
        <a class="button icon-center button-outline button-assertive" ng-click="openReviewModal()">Give Review</a>
      </center>

      
    </ion-content>

    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;" ui-sref="favRecipe" ui-sref-opts="{reload: true, inherit: false}"><i class="icon ion-heart"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>

<script id="rating-modal.html" type="text/ng-template">
  <div class="adic-modal">
    <ion-modal-view class="rating-modal">
      <ion-header-bar align-title="center">
        <div class="bar bar-header bar-assertive">
          <h1 class="title modal-title">Give your rating</h1>
        </div>
      </ion-header-bar>
      <ion-content class="modal-header">
        <center>
          <div class="rating-star">
            <rating ng-model="rating.rate" max="rating.max"></rating>
          </div>
          <a class="button icon-center button-outline button-assertive" ng-click="closeRatingModal()">Cancel</a>
          <a class="button icon-center button-outline button-assertive" ng-click="saveRating()">Save</a>
        </center>
      </ion-content>
    </ion-modal-view>
  </div>
</script>

<script id="review-modal.html" type="text/ng-template">
  <div class="adic-modal">
    <ion-modal-view class="username-modal">
      <ion-header-bar align-title="center">
        <div class="bar bar-header bar-assertive">
          <h1 class="title modal-title">Give your review</h1>
        </div>
      </ion-header-bar>
      <ion-content class="modal-header" scroll="false" ng-repeat="recipeDetail in recipeDetail">
        <center>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="review.comment">
            </label>
          </div>
          <a class="button icon-center button-outline button-assertive" ng-click="saveReview(recipeDetail.id)">Save</a>
        </center>
      </ion-content>
    </ion-modal-view>
  </div>
</script>