<ion-view>
  <ion-pane>
    <ion-header-bar align-title="center" class="bar bar-header">
       <center><img class="header" src="img/recipeHeader.png"></center>
    </ion-header-bar>

    <ion-content class="scroll padding recipeList" ng-repeat="recipeDetail in recipeDetail">

    <div>
    <center><h3 class="recipeName" >{{recipeDetail.recipe}}</h3></center>
      <center><img ng-src="{{recipeDetail.photo}}" style="width: 100%; height: 200px"></center>
      </div>
      
      <p>
          <br>
          <img class="ingredientText" src="img/ingredient.png">
          <font size="2" color="black" >
            <span class="spanLeft" ng-repeat="recipeIngredient in recipeIngredients">
               <i class="ion-ios-checkmark"></i> {{recipeIngredient.ingredient}}<br>
            </span>
          </font>
<!-- {{recipeIngredient.number}} -->
          <br>
          <img class="ingredientText" src="img/instruction.png">
          <font size="2" color="black" >
          <div  class="spanLeft" ng-bind-html='recipeDetail.instruction'></div></font>
      <br><br>
          <font size="2" color="gray" ><strong>RATING: </strong>{{recipeDetail.rating}}</font>
      <br>
      </p>

      <center><button class="button icon-center button-outline button-assertive">Add to Favorites</button></center>
      
    </ion-content>

    <div class="tabs tabs-icon-top tabs-assertive" >
      <a class="tab-item" href="#/menu" style="color:#ffffff;">
      <i class="icon ion-home" ></i>Home</a>

      <a class="tab-item"  href="#/bestRecipe" style="color:#ffffff;">
      <i class="icon ion-thumbsup"></i>Top Recipes</a>

      <a class="tab-item" style="color:#ffffff;"><i class="icon ion-heart"></i>Favorites</a>
    </div>
  </ion-pane>
</ion-view>