/* Empty. Add your own CSS if you like */
/*----------------------------------------------------Main------------------------------------------------------*/
.button {
	min-height: 0 !important;
}

/*----------------------------------------------------Home Page------------------------------------------------------*/
.mainLogo {
	width: 70%;
	padding-top: 50px;
}
.home {
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
}

/*----------------------------------------------------Cusine Page------------------------------------------------------*/
.logo {
	width: 122px;
	padding-left: -8px;
}

.proceed {
	bottom: 0;
}

/*.center {
	padding-left: 30px;
	padding-right: 30px;
}*/

.ingre {
	    height: 300px;
	}

.warn {
	color:red;
	padding-left: 10px;
}

.ingredient {
	height: 300px !important;
	width: 100%;
}

.occa {
	padding-top: 30px;
}

.listRecipe {
	padding-left: 20px;
	padding-right: 20px;
}

.pCuisine {
	padding-top: 20px;
}

.test {
	height: 40px;
}

.list {
	padding-top: -4px;
}

.searchBtn {
	padding-left: 220px;
}

.buttons {
	padding-bottom: 10px;
}

.btnFav {
	
	padding-left: 200px;
}

.ingredient-card {
	height: 300px;
}

/*.button-clear {
	width: 100%;
}*/