/*----------------------------------------------------Main------------------------------------------------------*/
.button {
	min-height: 0;
}

/*----------------------------------------------------Menu Page------------------------------------------------------*/
.mainLogo{
	width: 395px;
	padding-top: 99px;
	height: 208px;
}

.hometext {
	width: 269px;
	height: 29px;
	padding-bottom: 40px;
	padding-top: 10px;
	font-style: century gothic;
	font-style: bold;
}

.home {
	background: url('../img/wallpaperAi.png') no-repeat center center fixed; 
  	background-size: cover;
}

.btnMenu1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:7px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	height:80px;
	padding-top: 11px;
	padding-left: 30px;
	padding-bottom: 11px;
	padding-right: 30px;
	width: 150px;
	text-decoration:none;
}

.btnMenu2 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:7px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	height:80px;
	padding-top: 11px;
	padding-left: 30px;
	padding-bottom: 11px;
	padding-right: 30px;
	width: 131px;
	text-decoration:none;
}

.lang {
	text-decoration:none;
}

/*.btnNextDiv{
	padding-bottom: 20px;
    margin-bottom: 50px;
}*/
/*----------------------------------------------------Footer------------------------------------------------------*/
div.footer
{
/*  width: 180px;*/
  display: block;
  margin: auto;
/*  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;*/
}

.bar-footer{
	padding: 0;
}

.btnFooter1{
	font-size: 44px;
}

.btnFooter2{
	font-size: 44px;
}

.allignRight{
	position: absolute;
    right: 10px;
}
.allignLeft{
	position: absolute;
    left: 10px;
}
/*----------------------------------------------------Header------------------------------------------------------*/

.header {
	width: 100%;
	padding-top: 10px;
	height: 140px;
}

.headLogo{
	width: 117px;
	height: 40px;
	padding-left: 12px;
}
/*----------------------------------------------------Cusine Page------------------------------------------------------*/

.has-header{
	top:150px;
}

.bar{
	padding: 0;
	background-size: 0;
}

.btnNext {
	/*-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;*/
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	/*-moz-border-radius:5px;
	-webkit-border-radius:7px;*/
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	text-decoration:none;
	position: absolute;
	right: 10px;
}

.proceed {
	bottom: 0;
}

/*----------------------------------------------------Recipe Page------------------------------------------------------*/
.recipeName
{
	font-family:franklin gothic demi;
	font-weight: bold; 
	color: #000000;
	text-decoration: none;
}

.ingre {
	    height: 300px;
	}

.warn {
	color:#e53935;
	padding-left: 10px;
}

.ingredient {
	height: 300px !important;
	width: 100%;
}

.occa {
	padding-top: 30px;
}

.listRecipe {
	padding-left: 20px;
	padding-right: 20px;
}

.pCuisine {
	padding-top: 20px;
}

.test {
	height: 40px;
}

.top-recipe-option {
	padding-top: -4px;
	padding-bottom: 5px;
}

.searchBtn {
	padding-left: 220px;
}

.buttons {
	padding-bottom: 10px;
}

.btnFav {
	
	padding-left: 200px;
}

/*.button-clear {
	width: 100%;
}*/

.recipeList {
	margin-bottom: 50px;
}

.adic-modal .modal {
    min-height: 0 !important;
}

.adic-popup {
    width: 90%;
    height: 60%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    border-style: groove;
}

/*----------------------------------------------------Found Recipe Page------------------------------------------------------*/
.searchIngBtn {
	padding-bottom: 5px;
}

.spanLeft {
	padding-left: 15px;
}

/*----------------------------------------------------Top Recipe Page------------------------------------------------------*/
.advanced {
	color: blue;
}

.checkbox-modal {
	display: inline-block;
	border-style: none;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 45px;
}

.modal-header {
	top: 44px;
	padding-left: 5px;
	padding-right: 5px;
}

.modal-title {
	left: 0 !important;
}
/*----------------------------------------------------Ingredient Page------------------------------------------------------*/
.ingredientSelect {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 4px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.inputIngredient {
	width: 90%;
	border: none;
}

.inputIngredientIcon {
	width: 10%;
}

.ingredient-card
{
	min-height: 300px;
}

.ingredientText{
	width: 100%;
	height: 60px;
}