 Empty. Add your own CSS if you like */
/*----------------------------------------------------Main------------------------------------------------------*/
/*.button {
	min-height: 0 !important;
}*/

/*----------------------------------------------------Home Page------------------------------------------------------*/

.logo{
	width: 50px;
	padding-top: 20px;
}

/*.home {
	background: url('../img/wallpaperAi.png') no-repeat center center fixed; 
  	background-size: cover;
}*/

.btnMenu1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:7px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	height:80px;
	padding-top: 11px;
	padding-left: 30px;
	padding-bottom: 11px;
	padding-right: 30px;
	width: 150px;
	text-decoration:none;
}

.btnMenu2 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:7px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	height:80px;
	padding-top: 11px;
	padding-left: 30px;
	padding-bottom: 11px;
	padding-right: 30px;
	width: 131px;
	text-decoration:none;
}

.col
{
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 14px;
	padding-bottom: 22px;
}

.lang 
{
	text-decoration:none
}

.btnNextDiv{
	padding-bottom: 20px;
    margin-bottom: 50px;
}
/*----------------------------------------------------Footer------------------------------------------------------*/
div.footer
{
  /*width: 180px;*/
  display: block;
  margin: auto;
  /*padding-left: 5px;
  margin-left: auto;
  margin-right: auto;*/
}

.bar-footer{
	padding: 0;
}

/*----------------------------------------------------Header------------------------------------------------------*/

.header {
	width: 3S0%;
}

.headLogo{
	width: 117px;
	height: 40px;
	padding-left: 12px;
}

.header{
	width: 117px;
	height: 40px;
	padding-left: 3px;
}
/*----------------------------------------------------Cusine Page------------------------------------------------------*/


.btnNext {
	/*-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;*/
	color:#ffffff;
	background-color:#ef473a;
	border-radius:20px;
	/*-moz-border-radius:5px;
	-webkit-border-radius:7px;*/
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	font-weight:500;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	text-decoration:none;
	position: absolute;
	right: 10px;
}

.proceed {
	bottom: 0;
}

/*----------------------------------------------------Recipe Page------------------------------------------------------*/
.recipeName
{
	font-family:century Gothic;
	font-weight: bold; 
	color: #ef473a;
	text-decoration: underline;
}

.ingre {
	    height: 300px;
	}

.warn {
	color:#e53935;
	padding-left: 10px;
}

.ingredient {
	height: 300px !important;
	width: 100%;
}

.occa {
	padding-top: 30px;
}

.listRecipe {
	padding-left: 20px;
	padding-right: 20px;
}

.pCuisine {
	padding-top: 20px;
}

.test {
	height: 40px;
}

.list {
	padding-top: -4px;
}

.searchBtn {
	padding-left: 220px;
}

.buttons {
	padding-bottom: 10px;
}

.btnFav {
	
	padding-left: 200px;
}

.ingredient-card {
	height: 300px;
}

/*.button-clear {
	width: 100%;
}*/

.recipeList {
	margin-bottom: 50px;
}

/*----------------------------------------------------Top Recipe Page------------------------------------------------------*/
.advanced {
	color: blue;
}

/*----------------------------------------------------Ingredient Page------------------------------------------------------*/
.ingredientSelect {
	border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 4px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.inputIngredient {
	width: 90%;
	border: none;
}

.inputIngredientIcon {
	width: 10%;
}